* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "kumbh sans", sans-serif;
}

body {
  background-color: #131313;
  min-height: 2000px;
}

.navbar {
  background: #1c1c1c;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #ffffff;
  background-image: linear-gradient(to top, #6c6c6c 0%, #fffefe 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #676767;
  background-image: linear-gradient(to top, #6c6c6c 0%, #fffefe 100%);
  background-size: 100%;
  color: #fff;
}

.button:hover {
  background: #ff4444;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #767676;
  transition: all 0.3s ease;
}

/* tablet */
@media (max-width: 760px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 55vh;
    font-size: 1.6rem;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3 ease-in-out;
    background: #fff;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70px;
    margin: 0;
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translate(Bpx) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translate(Bpx) rotate(45deg);
  }
}

/* main */
.main {
  width: 100%;
  height: 100%;
  display: flex;
}

.main__container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 93vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content h1 {
  font-size: 5rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main__content h2 {
  font-size: 3rem;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #571ff1 0%, #21d4 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 0rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #571ff1;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover::after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 760px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }
  .main__content {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 0.1rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }
  .main__content p {
    margin-top: 0.1rem;
    font-size: 1rem;
  }
  .main__img--container {
    margin-top: 1rem;
    font-size: 4px;
  }
}

@media screen and (max-width: 480px) {
  .main__content {
    margin-top: 1rem;
  }
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }
  .main__content p {
    margin-top: 0.1rem;
    font-size: 1rem;
  }
  .main__btn {
    padding: 5px 36px;
    margin: 2.5rem;
    margin-top: 1rem;
  }
  .main__img--container {
    margin-top: 1rem;
    size: 10px;
  }
}

/* gabrol */
.gabrol {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(/images/gabron.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.teks-gabroy {
  margin-top: 10rem;
  color: #ffffff;
}

.teks-gabroy h1 {
  font-size: 3rem;
}

.teks-gabroy h2 {
  font-size: 3rem;
}

.teks-gabroy :hover {
  color: #767676;
  transition: all 0.3s ease;
}

/* member */

.Team {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.Team {
  padding: 8rem 7% 1.4rem;
}

.Team p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  color: #fff;
}

.Team h2 span {
  color: #767676;
}
